<nav
    class="position-relative py-2 text-center">
    <!--Site sections start-->
    <ul
        class="pl-0 list-unstyled sections position-absolute">
        {% for item in site.data.navigation %}
            <li
                class="px-3">
                <a
                    href="{{ item.link }}" {% if page.url == item.link %} class="active"
                    {% endif %}>
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <!--Site sections end-->
                
        <!--Site logo-->
    <a
        href="/">
        <img
            src="{{ site.url }}/assets/img/lips.svg" 
            class="logo"
            alt="Blog logo">
    </a>
</nav>