<nav
    class="position-relative py-3 text-left text-sm-center pl-3 pl-sm-0">
    <!--Site sections start-->
    <ul
        class="d-none pl-0 list-unstyled sections position-absolute text-left d-sm-flex flex-column justify-content-around py-1 h-100 mb-0 mr-0">
        {%- include sections_items.html -%}
    </ul>
    <!--Site sections end-->
                    
    <!--Site logo-->
    {%- include logo.html -%}

    <!--Menu button-->
    <div
        class="menu-btn d-sm-none" 
        id="menu-btn">
        <div
            class="btn-line"></div>
        <div
            class="btn-line"></div>
        <div
            class="btn-line"></div>
    </div>
</nav>