<nav
    class="position-relative py-3 text-left text-sm-center pl-3 pl-sm-0">
    <!--Site sections start-->
    <ul
        class="pl-0 list-unstyled sections position-absolute text-left d-flex flex-column justify-content-around py-1 h-100 mb-0 mr-0">
        {% for item in site.data.navigation %}
            <li
                class="category mr-0">
                <a
                    href="{{ item.link }}"
                    class="btn btn-primary btn-small w-100 font-bio-rhyme"
                    {% if page.url == item.link %} class="active"
                    {% endif %}>
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <!--Site sections end-->
                
        <!--Site logo-->
    <a
        href="/">
        <img
            src="{{ site.url }}/assets/img/lips.svg" 
            class="logo"
            alt="Blog logo">
    </a>
</nav>