<ul
    class="list-unstyled pt-sm-1 pt-md-0 social h-100">
    <li
        class="category mr-0 h-100">
        <a
            class="btn btn-light py-1 h-100"
            href="https://twitter.com/IrenSayWhen">
            <i
                class="fab fa-twitter"></i>
        </a>
    </li>
    <li
        class="category mr-0 h-100">
        <a
            class="btn btn-light py-1 h-100"
            href="https://github.com/irensaywhen">
            <i
                class="fab fa-github"></i>
        </a>
    </li>
    <li
        class="category mr-0 h-100">
        <a
            class="btn btn-light py-1 h-100"
            href="#">
            <i
                class="far fa-envelope"></i>
        </a>
    </li>
</ul>