<ul
    class="list-unstyled pt-sm-1 pt-md-0 social h-100">
    <!--Email-->
    <li
        class="category mr-0 h-100 position-relative">
        <a
            class="btn btn-light py-1 h-100"
            href="#"
            data-email="irensaywhen@gmail.com"
            id="email">
            <i
                class="far fa-envelope"></i>
        </a>
        <!--
        <button
            class="position-absolute email-address btn btn-light border shadow-lg"
            id="email"
            title="copy">
            irensaywhen@gmail.com
        </button>-->
    </li>
    <!--Twitter-->
    <li
        class="category mr-0 h-100">
        <a
            class="btn btn-light py-1 h-100"
            href="https://twitter.com/IrenSayWhen">
            <i
                class="fab fa-twitter"></i>
        </a>
    </li>
    <!--GitHub-->
    <li
        class="category mr-0 h-100">
        <a
            class="btn btn-light py-1 h-100"
            href="https://github.com/irensaywhen">
            <i
                class="fab fa-github"></i>
        </a>
    </li>
</ul>