.category {
  display: inline-block;
  margin-right: map-get($spacers, 1);
  text-transform: lowercase;

  &:last-of-type {
    margin-right: 0;
  }

  .btn-small {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
