---
layout: default
pagination: 
  enabled: true
---
{{content}}
<main
    class="container-md">
    {% if page.autopages %} Autopages! {%endif%}
    <h1
        class="text-center h3 pt-3 pb-2">
        <span
            class="small">{{page.type | capitalize }}
            :</span>
        {{ page.title | capitalize }}</h1>

    <section
        class="row mt-4">
        {%- for post in page.posts -%}
            {%- include post.html -%}
        {%- endfor -%}
    </section>

    <h2>Posts go here</h2>
    <section
        class="row mt-4">

        {% for post in paginator.posts %}
        Post!
            {{post}}
            {%else %}
            No posts
        {% endfor %}
    </section>
</main>