<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{"/assets/css/main.css" | relative_url }} />
    <!--Heading fonts-->
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap" rel="stylesheet">
    <!--Base fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!--Clamp.js - crossbrowser text clapming-->
    <script src="{{ '/assets/js/clamp.min.js' | relative_url }}" defer ></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
    <script src="https://kit.fontawesome.com/5794ad2a68.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include navigation.html %} 
    {{ content }}
    {%- include footer.html -%}
  </body>
</html>
